*{
  margin: 0px;
  padding: 0px;
}

:root {
  --color-1: #039be5;
  --color-2: #2f64a3;
  --bg-color-1:#eee;
  --bg-color-2:#ddd;
  --font-style:'Handlee', cursive;
  --title-font-size-1:18px;
  --hover-color:#039be5;
}

.body_index{
  overflow: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
.top_option{
  height: 20px;
  background-color: #fff;
}
/* ========================================
Nav Section
======================================== */
.nav_bar{
  position: sticky;
top: 0;
z-index: 999;
  background: var(--color-1);

}
.logo{
  width: 100px;
    padding: 6px;
}
.search_section{
  padding: 6px;
}
.under_nav{
  background: var(--color-2);
  height: 10px;
}
.login_carate{
  list-style: none;
  float: right;
  margin: 0px;

}
.login_carate li{
float: left;

}
.login_carate li a{
  font-size: 20px;
    padding: 5px 20px;
    color: #fff;
    display: block;
}
.login_carate li a:hover{
  text-decoration: none;
}

/* =========================
Body Section Start
======================= */
.body_section{
  background:var(--bg-color-2);
}
/* left bar popular post */
 .popular_photo_section{
   padding-top: 3px;
   border-radius: 5px;
 }
 .popular_photo_section>a{
 font-size: 20px;
 color: #999;
 }
  .popular_photo_section a:hover{
    text-decoration: none;
  }
 .popular_photo_section span{
   font-size: 15px;
    color: var(--color-1)

 }
 .popular_photo_section span:hover{
   text-decoration: none;


 }
.popular_photo{
  padding: 2px;
}
.post_section_main{
  background:var(--bg-color-1);
    box-shadow: 0px 0px 5px #039be5;
}
/* post section */
.post_section{

  overflow-y: scroll;
    height: 1000px;
    display: block;
}
.post_section::-webkit-scrollbar {
    display: none;
}
.user_post{

}
.user_post ul{

}
.user_post ul li{
  list-style: none;
  float: left;
  margin-right: 10px;
  font-family: 'Handlee', cursive;

}
.user_post ul li a{
  color: var(--color-2);
      font-size: 10px;
      display: block;
}
.user_post ul li a:first-child{
    color: var(--color-2);
      font-size: var(--title-font-size-1);
}
.user_post ul li img{
  width: 40px;
border-radius: 50%;
}
.post_photo{
  padding: 0px;
}
.content_post{
  padding: 16px;
text-align: justify;
font-family: cursive;
}
.post_photo img{
  width:100%;
  cursor:pointer;
}

.post_tag{
  background: var(--bg-color-1);
    padding: 11px 56px;
    color: #000;
    font-weight: bold;
}
.post_tag a{
 color: #000;
}

.like_comment{
    padding: 11px 56px;
    color: #000;
    font-weight: bold;
}
.like_comment a{
  font: 20px;
font-family: var(--font-style);
}
.like_comment a i{

}
.love_react i{
  color: red;
}
.love_react i:hover{
  color: var(--hover-color);
  transition: .2s;
  overflow: hidden;

}

/* home page right section start  ===================================*/


.home_page_user{

}
.home_page_user ul{

}
.home_page_user ul li{
list-style: none;
text-align: center;
}
.home_page_user ul li a{
color: var(--color-2);
font-size: var(--title-font-size-1);
font-weight: bold;
font-style: var(--font-style);
}
.home_page_user ul li a:hover{
  text-decoration: none;
  color: var(--hover-color);
}
.home_page_user ul li img{
  width: 130px;
  border-radius: 100px;
  float: center;
}

/* Suggest follower */
.suggest_follower{
padding-top: 2PX;

}
.suggest_follower ul{

}
.suggest_follower ul li{
  list-style: none;
  padding-bottom: 10PX;
}
.suggest_follower ul li:first-child{
  color: #949494;
  padding-bottom: 10px;
  text-align: center;
}
.suggest_follower ul li a{
  color: #1d1716;

}
.suggest_follower ul li a:hover{
  text-decoration: none;
}
.suggest_follower ul li span{
  float: right;
color: #039be5;
font-weight: bold;
}
.suggest_follower img{
  width: 20px;
  height: 20px;
  border-radius: 100px;
}
/* =====================================================
Modal image view section
===================================================== */

/* Modal Content */
.modal_image_comment{
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 2;
  display: none;
}

.image_comment{
  background: #fff;
    margin-top: 10%;
    padding: 10px;
    position: relative;
    max-height: 550px;
}
.image_comment img{
      width: 100%;
}
.left_btn{
  position: absolute;
  top: 210px;
  z-index: 999;
  left: 19px;
  background: rgba(0,0,0, .3);
  padding: 9px;
  color: #fff;
  font-size: 24px;
  display: none;
  cursor: pointer;
}
.right_btn{
  position: absolute;
  top: 210px;
  z-index: 999;
  right: 19px;
  background: rgba(0,0,0, .3);
  padding: 9px;
  color: #fff;
  font-size: 24px;
  display: none;
  cursor: pointer;
}
.image_comment:hover .left_btn{
  display: block;
}
.image_comment:hover .right_btn{
  display: block;
}
.view_post_user{

}
.view_post_user ul{

}
.view_post_user ul li{
list-style: none;
}
.view_post_user ul li img{
 width: 30px;
 border-radius: 100px;
 float: left;
}
.view_post_user ul li a{
  font-size: 15px;
  font-style: var(--font-style);
  vertical-align: baseline;
  padding: 11px;
  color: #232323;
  font-weight: 500;
}
.modal_comment_view{
height: 375px;
overflow-y: scroll;
}
.modal_comment_view::-webkit-scrollbar {
    display: none;
}
.close_modal{
  position: fixed;
      top: 18px;
      right: 15px;
      background: no-repeat;
      font-size: 32px;
      color: #fff;
      padding: 1px 20px;
      z-index: 999;
}
.modal_comment_view{

}
.modal_comment_view ul{

}
.modal_comment_view ul li{
list-style: none;
background: #f3f3f3;
    padding: 12px;
    border-radius: 11px;
    margin-bottom: 10px
}
.modal_comment_view ul li img{
 width: 38px;
 float: left;
 border-radius: 50%;
 margin-right: 20px;

}
.modal_comment_view ul li div{
  text-align: justify;
}
.modal_comment_view ul li div a{
font-weight: bold;
}
.reply_section{
  margin-left: 40px;
}
.reply_comment{
  margin-left: 38px;
}


/* ==================================================
Login and Resistration Page
================================================== */

.login_body{
  border-radius: 4px;
      padding: 32px;
      background: #f6fffb;
      margin: 5px 0px;
      box-shadow: 0px 0px 3px #2f64a3;
      margin-bottom: 5px;
}
.login_body input{
  margin:15px 0px;
  font-size: 1rem;
}
.create_button{
  background-color: #2f64a3;
      color: #ffffff;
      padding: 10px 30px 30px;
      position: relative;
}
.login_with{
  float: center;
}
.login_with li{
  float: left;
  list-style: none;
}
.login_with li i{
  background: #2f64a3;
padding: 11px;
margin: 2px;
border-radius: 6px;
color: #fff;
}
.log_des{
  color: #545252;
    font-size: 19px;
    font-style: oblique;

}
.log_des ul{
list-style: none;
}
.log_des ul li{
  padding-bottom: 80px;

}
.log_des ul li span:first-child{
  float: left;
  margin-right: 5px;
  clear: both;
}
.log_des ul li span:last-child{

}
.log_des img{

}



/* =========================================
profile Page Section
========================================= */

.cover_photo_section{
  background: linear-gradient(180deg, #039be54d, transparent);
      border-bottom: 2px solid #ddd;
}
.cover_photo img{
  width: 100%
}

.cover_photo{
  position: relative;
}
.profile_page_profile{
  width: 20px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  bottom: -39px;
  z-index: 999;

}
.profile_page_profile img{
  width: 159px;
      border: 3px solid #ddd;
}
.profile_page_user_name{
  padding: 11px 11px 11px 190px;
display: block;
color: var(--color-2);
font-size: var(--title-font-size-1);
font-weight: bold;
font-style: var(--font-style);
}
.send-massage{

}
.send-massage ul{

}
.send-massage ul li{
  list-style: none;
      display: inline-block;
      margin-right: 11px;
      font-size: 13px;
      border: 1px solid #ddd;
      padding: 1px 13px;
      border-radius: 3px;

}



/* ===============================================================================
Chatting Page Section
============================================================================== */
.messaging img{
  max-width: 100%;
}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: var(--color-1);
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: var(--color-1);;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: var(--color-1);;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
